.googleLogin {
    width: 250px;
    margin-left: 120px;
    display: block;
    font-size: 1.2rem !important;
}

.chooseSubmitter {
    height: 50px;
}

.text {
    color:#95949c !important;
    font-weight: normal !important;
}

.textButtom {
    margin-top: 60px !important;
    color:#95949c !important;
    font-weight: normal !important;
}

.importantText {
    font-weight: bold;
    text-decoration: underline;
}

.ui.selection.dropdown .menu {
    max-height: 20rem !important;
}

.card {
    width: 80% !important;
    font-size: 1.2rem !important;
    line-height: 160% !important;
}

.submitFormBtn {
    float: right !important;
}

.approveMessage {
    width: 80% !important;
}

.declineMessage {
    width: 80% !important;
    margin-bottom: 20px !important;
}

.travelForm {
    margin-bottom: 20px !important;
}

.anotherRequestBtn {
    margin-top: 30px !important;
}

.minorText {
    font-size: 80% !important;   
}

.budgetNumber {
    margin-left: 9px !important;
    margin-right: 20px !important;
}

.addBudgetBtn {
    margin-left: 45px !important;
}

