.googleLogin {
    width: 250px;
    padding: 0 10px;
    margin: 20px auto 10px 75px;
    display: block;
}

.chooseSubmitter {
    height: 50px;
}

.text {
    color:#95949c !important;
    font-weight: normal !important;
}

.importantText {
    font-weight: bold;
    text-decoration: underline;
}
