.googleLogin {
    width: 250px;
    font-size: 1.2rem !important;
    margin-top: 100px !important;
}

.textButtom {
    color:#95949c !important;
    font-weight: normal !important;
    margin-top: 15px !important;
}

.importantText {
    font-weight: bold;
    text-decoration: underline;
    color: #626262 !important;
}

.ui.selection.dropdown .menu {
    max-height: 20rem !important;
}

.card {
    width: 100% !important;
    font-size: 1.2rem !important;
    line-height: 160% !important;
}

.submitFormBtn {
    float: right !important;
}

.approveMessage {
    width: 80% !important;
}

.declineMessage {
    width: 80% !important;
    margin-bottom: 20px !important;
}

.travelForm {
    margin-bottom: 20px !important;
}

.anotherRequestBtn {
    margin-top: 30px !important;
}

.minorText {
    font-size: 80% !important;   
}

.budgetNumber {
    margin-left: 9px !important;
    margin-right: 20px !important;
}

.addBudgetBtn {
    margin-left: 45px !important;
}

.whetherPayFlightForm {
    margin-top: -10px !important;
    margin-left: 10px !important;
    margin-bottom: 40px !important;
}

.whetherPayFlightCard {
    margin-left: 20px !important;
}

.iconfontSystemAdministrator {
    margin-right: 15px !important;
}

.unitName {
    width: 100% !important;
    margin-top: -5px !important;
    margin-bottom: 20px !important;
}

.removeBtn {
    float: right !important;
}

.systemAdminTable {
    width: 35% !important;
}

.systemAdminInput {
    width: 35% !important;
    margin-top: -5px !important;
    margin-bottom: 20px !important;
}

.systemAdminBtn {
    width: 90px !important;
}